<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Paciente</title>
</head>
<body>
<h1>Formulario de Paciente</h1>
<form action="#" method="post" th:object="${paciente}">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required>
    <br>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" th:field="*{apellido}" required>
    <br>
    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" th:field="*{dni}" required>
    <br>
    <input type="submit" value="Guardar">
</form>
</body>
</html>